{
  "extends": "react-app",
  "plugins": ["simple-import-sort", "import"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "simple-import-sort/sort": [
      "error",
      {
        "groups": [
          ["^react", "^@?\\w"],
          ["^synergy"],
          ["^\\u0000"],
          [
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$",
            "^.+\\.s?css$"
          ]
        ]
      }
    ],
    "import/no-webpack-loader-syntax": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "useRecoilCallback|useMemoObservable"
      }
    ],
    "@typescript-eslint/no-floating-promises": "warn"
  }
}
