{
  "extends": "react-app",
  "plugins": ["simple-import-sort", "import"],
  "rules": {
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["reflect-metadata"],
          ["^react", "^@?\\w"],
          ["^synergy"],
          ["^\\u0000"],
          [
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$",
            "^.+\\.s?css$"
          ]
        ]
      }
    ],
    "import/no-webpack-loader-syntax": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "useRecoilCallback|useMemoObservable"
      }
    ],
    "react/forbid-foreign-prop-types": 0
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/no-floating-promises": "warn"
      }
    }
  ]
}
