@import "./styles/global.scss";
@import "./styles/overrides.scss";
@import "./styles/utilities.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

// lm_e8bb3c48c7 roboto import
// from https://github.com/googlefonts/roboto-flex/releases
@font-face {
  src: url(./assets/RobotoFlex.ttf);
  font-family: Roboto;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: oblique -10deg 0deg;
}
