// todo enable for keyboard use
* {
  outline: none !important;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1b1b1b;
  overflow: hidden;
  margin: 0;
}

div[role="tooltip"] {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 1);
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
