// material ui overrides
.MuiTreeItem-label {
  min-width: min-content;
}

.MuiTreeItem-label,
fieldset {
  @apply default-transition;
}

#root .MuiBackdrop-root {
  z-index: 11;
}

.rc-color-picker {
  z-index: 10000;
}

body {
  .MuiCircularProgress-colorPrimary {
    color: white;
  }

  .MuiAutocomplete-groupLabel {
    line-height: unset;
    padding-top: 7px;
    padding-bottom: 1px;
    font-size: 0.68rem;
  }
}

.react-transform-component {
  width: 100% !important;
  height: 100% !important;
}

// .__react_component_tooltip .multi-line
.type-tooltip span {
  text-align: left !important;
  white-space: pre;
  font-family: monospace;
}
