.default-transition {
  @apply transition duration-300 ease-out;
}

@keyframes border-pulsate {
  0% {
    border-color: var(--border-light);
  }

  50% {
    border-color: var(--border-dark);
  }

  100% {
    border-color: var(--border-light);
  }
}

.btn {
  @apply p-2 rounded bg-transparent text-white default-transition;
  border: 1px solid rgba(255, 255, 255, 0.23);

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: white;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: white;
  }

  &:active,
  &.active,
  &.superactive {
    &:focus {
      box-shadow: none;
    }
  }

  &.active,
  &.superactive {
    background-color: rgb(117, 129, 146);
  }

  &.superactive {
    animation: border-pulsate 2s infinite;
    --border-light: rgba(255, 255, 255, 1);
    --border-dark: rgba(255, 255, 255, 0.3);
  }
}

.toolbar .btn {
  padding: 6px 12px;
  border-radius: 0;
}

.btngrp-h {
  display: flex;
  flex-shrink: 0;
  overflow-x: auto;

  > .btn,
  > .btngrp-v {
    flex-grow: 1;
    min-width: min-content;

    &:not(:last-child) {
      &,
      .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:not(:first-child) {
      &,
      .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.btngrp-v {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  overflow-y: auto;

  > .btn,
  > .btngrp-h {
    flex-grow: 1;
    min-height: min-content;

    &:not(:last-child) {
      &,
      .btn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:not(:first-child) {
      &,
      .btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.grid2x {
  @apply grid grid-cols-2 row-gap-3 col-gap-2 py-2;

  option {
    font-size: 16px;
  }

  .MuiFormControl-root,
  .MuiInputLabel-outlined,
  .MuiOutlinedInput-input,
  .MuiAutocomplete-input,
  .MuiOutlinedInput-notchedOutline {
    font-size: 13px;
  }

  .MuiInputLabel-outlined {
    transform: translate(14px, 9px) scale(1);
  }

  .MuiAutocomplete-inputRoot {
    padding: 0 !important;
  }

  .MuiSelect-select.MuiSelect-select,
  .MuiOutlinedInput-multiline {
    padding: 0;
  }

  .MuiSelect-icon {
    display: none;
  }

  .MuiOutlinedInput-input,
  .MuiAutocomplete-input {
    padding: 7px 9px !important;
  }

  .MuiOutlinedInput-adornedEnd {
    padding-right: 7px;
  }

  .MuiInputAdornment-positionEnd {
    .MuiInput-underline:before {
      display: none;
    }

    .MuiInputBase-root,
    button {
      font-size: 10px;
    }

    .rc-color-picker-wrap {
      line-height: 0;
    }
  }
}

.pulsing-highlight {
  animation: border-pulsate 3s infinite;
  --border-light: #2196f3;
  --border-dark: #0d47a1;
}

.overflow-unset {
  overflow: unset;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dark-glass {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px) saturate(150%);
  animation: fade-in-animation 250ms ease-out forwards;
}

.selected-element-code-highlight {
  color: red !important;
  cursor: pointer;
  font-weight: bold;
  font-style: oblique;
}

.selected-style-group-code-line-highlight {
  background: #6ff9ff33;
}

.editor-tabs {
  .tabs {
    min-height: 30px;
  }

  ::-webkit-scrollbar {
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-left: unset;
    background-clip: unset;
    border-radius: unset;
  }
}

.blue-hue {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

.dark-blue-hue {
  background-image: linear-gradient(135deg, #6b73ff 10%, #000dff 100%);
}

.red-hue {
  background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
}

.green-hue {
  background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
}

.purple-hue {
  background-image: linear-gradient(135deg, #ff6fd8 10%, #3813c2 100%);
}

.intro-recent-projects {
  max-width: 500px;

  .btn {
    padding: 2px 10px;
  }
}

.eula-text {
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    padding: revert;
    margin: revert;
  }

  &::-webkit-scrollbar-thumb {
    background: black;
  }
}
