@tailwind base;
@tailwind components;
@tailwind utilities;
// todo investigate why a node modules reference doesn't work when running in crylic, seems related to yarn workspaces
@import "../../synergy/src/shared.scss";

body {
  color: white;
}

.header {
  display: flex;
  align-items: center;
  background-color: black;

  a {
    position: relative;
    display: block;
    padding: 10px 20px;

    &:hover {
      background-color: rgba(255, 255, 255, .4);
    }

    &.active::before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background-color: #039be5;
    }
  }
}