
.btn {
  @apply p-2 rounded bg-blue-800 text-white transition duration-300 ease-out;

  &:hover {
    @apply bg-blue-700;
  }
  &:active {
    @apply bg-blue-900;
  }
}

.react-transform-component {
  width: 100%;
  height: 100%;
}

.MuiTab-root {
  min-width: 90px !important;
}

.selected-element-code-highlight {
  color: red !important;
  cursor: pointer;
	font-weight: bold;
	font-style: oblique;
}

.dark-glass {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(20px);
}
